@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


* {
    font-family: 'Jura', sans-serif;
    margin: 0px;
    padding: 0px;
}
.footer {
    text-align: center; 
}
body{
 color: white;   
}

.main-block {
text-align: center;
}
.news-block {
    text-align: center
}
.about-news{
    text-align: center;
}
.about{
    text-align: center;
}
.about-maker{
    text-align: center;
}
.marktext{
    text-align: center;
}
.newspaper{
    text-align: center;
}
footer{
    text-align: center;
}
.but-2 {
    margin:20px auto;
    color: #FFFFFF;
    font:bold 16px arial;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    background: linear-gradient(to bottom, #209DCA, #0F84AF) repeat scroll 0 0 / 100% 200% rgba(0, 0, 0, 0);
    transition: all 0.1s linear 0s;
}
.but-2:hover,.but-2:focus{
    background-position: 0 -102%;
}
.content {
    position: relative;
    z-index: 2;
  }
.background{
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    filter: blur(5px);
    background: url(images/main.jpg) no-repeat center;
    background-size: cover;
}
.background2 {
        position: absolute;
    z-index: 1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    filter: blur(5px);
    background: url(images/main2.png) no-repeat center;
    background-size: cover;
}
.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: #000000;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main a, .menu-main a:visited {color: #000000;}
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  @media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }
