@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


* {
    font-family: 'Comfortaa', cursive;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightblue;
}

.footer {
    text-align: center; 
}

.main-block {
    color: gray;
    background-color: aqua;
    text-align: center;
}
.news-block {
    background-color: darkorange;
    display: block;
}
.addnews-block {
    background-color: crimson;
    color: lightgray;
}
.about-news{
    text-align: center;
}
.about{
    text-align: center;
}
.about-site{
    background-color: yellowgreen;
}
.about-maker{
    background-color: darkkhaki;
    text-align: center;
}
.marktext{
    text-align: center;
}
.newspaper{
    text-align: center;
}
footer{
    text-align: center;
}